<!doctype html>
<html lang='en'>
<meta charset='utf-8'>
<head>
  <title>Stock Price</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <h1>Stock Price</h1>

  </header>
<%= yield %>
</body>
</html>